@import url("https://cdnjs.cloudflare.com/ajax/libs/inter-ui/3.18.0/inter.css");

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  color: #000;
  --color-primary: #0099ff; 
  --color-primary-hover: #33adff; 
  --color-primary-disabled: #007acc; 
}

html {
  color: #000;
}

h1,
h2,
h3,
h4,
p {
  color: #000;
  line-height: 1.6;
}

h1,
h2,
h3,
h4,
p.bold {
  font-weight: 700;
}

h1 {
  font-size: 4rem;
}

h2 {
  font-size: 2.8rem;
}

h3 {
  font-size: 2rem;
}

h4 {
  font-size: 1.4rem;
}

p {
  font-size: 1rem;
  font-weight: 500;
}